<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <div class="info">
                    <h5 class="title">Site map</h5>
                    <nav>
                        <ul>
                            <li *ngFor="let item of siteMap;let i=index"> <a routerLink="{{siteMap[i].route}}">{{siteMap[i].title}}</a> </li>                            
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title">Resources</h5>
                     <nav>
                        <ul>
                            <li>
                                <a href="#">Finnancial independance</a>
                            </li>
                            <li>
                                <a href="#">MTG</a>
                            </li>
                            <li>
                                <a href="#">Synthwave</a>
                            </li>
                            <li>
                                <a routerLink="home">Best Site in the universe</a>
                            </li>
                            <li>
                                <a href="#">Literal Art</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="info">
                    <h5 class="title">Upcoming features</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-lightbulb-o"></i>Beloved <b>Particles</b> from the site's previous version aren't going anywhere.. stay tuned
                                    <hr class="hr-small">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-lightbulb-o"></i> <b> Translations</b>: Hebrew version coming soon
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title">Check me out on</h5>
                    <nav>
                        <ul>                            
                            <li>
                                <a class="btn btn-social btn-reddit btn-simple" href="https://github.com/Arik92" target="_blank" >
                                    <i class="fa fa-github"></i> Github
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-social btn-reddit btn-simple" href="https://www.linkedin.com/in/arik-aviv/" target="_blank" >
                                    <i class="fa fa-linkedin"></i> LinkedIn
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-social btn-reddit btn-simple" href="mailto:arik92@gmail.com">
                                    <i class="fa fa-envelope-o"></i> Email
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>           
    </div>
</footer>