.about-content {
    position: absolute;
    height: 100%;
    width: 80%;
    left: 10%;
    right: 10%;
    display: flex;
    flex-direction: column;
    z-index: 4;
    justify-content: center;
    align-items: center;
        
    .title-area {
        .about-separator {
            margin: 0 auto;           
        }
    }
    .about-icon {
        font-size: 64px;
    }    
    .description {
        display: flex;
        flex-direction: row;
        .current {        
            display: flex;
            flex-direction: column;
            align-items: center; 
            p {
                line-height: 2em;
                max-width: 330px;
            }
        }  
        .likes {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }    
}

@media only screen and (max-width: 770px) {   
    .description p{
        font-size: 12px;
    }    
    .content {
        overflow-y: auto;
    }
    .about-content .description {
        flex-direction: column;
    }
  }

