<div class="section section-page">
    <div class="parallax filter filter-color-black">
        <div class="image" style="background-image:url('assets/arik-24.jpg')">
        </div>
        <div class="content about-content">
            <div class="title-area">
                <h1>{{ 'ABOUT.HEADER' | translate | uppercase}}</h1>
                <div>({{ 'ABOUT.IN_ABOUT' | translate | uppercase}} {{wordCount}} {{ 'ABOUT.WORDS' | translate | uppercase}})</div>
                <div class="separator line-separator about-separator">♦</div>                
        </div>
            <!-- <p>Im Arik!</p> -->
            <div class="description">
                <div class="current" rtlDiv>
                    <div class="icon about-icon">
                        <i class="pe-7s-target"></i>
                    </div>
                    <h5>{{ 'ABOUT.CURRENTLY' | translate | uppercase}}</h5>                    
                    <p>{{ 'ABOUT.CURRENTLY_CONT' | translate }}</p>
                    <!-- <div>{{ 'ABOUT.CURRENTLY_CONT' | translate }}</div> -->

                </div>                
                <div class="likes" rtlDiv>
                    <div class="icon about-icon">
                        <i class="pe-7s-star"></i>
                    </div>
                    <h5>{{ 'ABOUT.LIKES' | translate | uppercase}}</h5>
                    <ul rtlDiv>
                        <li *ngFor="let hobby of hobbies"><p>{{hobby}}</p></li>                    
                    </ul>
                </div>
                <div class="trivia">
                    <div class="icon about-icon">
                        <i class="pe-7s-cup"></i>
                    </div>
                    <h5>Random Trivia</h5>
                    <ul>
                        <li><p>Pokemon</p></li>
                        <li><p>Mtg</p></li>
                        <li><p>Pixel art</p></li>
                    </ul>
                </div>
            </div>
            
    </div>
</div>
<!-- <div class="page-wrapper parallax filter filter-color-black">
    <div class="page-container" rtlDiv>
        <div class="page-inner-container" rtlDiv>
            <div class="about-header">
                <h2>{{ 'ABOUT.HEADER' | translate | uppercase}}</h2>
                <div>({{ 'ABOUT.IN_ABOUT' | translate | uppercase}} {{wordCount}} {{ 'ABOUT.WORDS' | translate | uppercase}})
                </div>
            </div>
            <div class="content" rtlDiv>                
                <div class="intro">
                    <h5>{{ 'ABOUT.INTRO' | translate | uppercase}}</h5>
                    {{ 'ABOUT.INTRO_NAME' | translate }} {{age}} {{ 'ABOUT.INTRO_CONT' | translate }}      

                </div>
                <div class="current">
                    <h5>{{ 'ABOUT.CURRENTLY' | translate | uppercase}}</h5>                    
                    {{ 'ABOUT.CURRENTLY_CONT' | translate }}
                </div>
                <div class="likes" rtlDiv>
                    <h5>{{ 'ABOUT.LIKES' | translate | uppercase}}</h5>
                    <ul rtlDiv>
                        <li *ngFor="let hobby of hobbies">{{hobby}}</li>                    
                    </ul>
                </div>            
            </div>
        </div>
    </div>
</div> -->