<div class="section section-page">
    <div class="parallax filter filter-color-black">
        <div class="image" style="background-image:url('assets/arik-24.jpg')">
        </div>
        <div class="content about-content">
            <div class="title-area" *ngIf="wordCount > 0 else loading">
                <h1>{{ 'ABOUT.HEADER' | translate | uppercase}}</h1>
                <div>({{ 'ABOUT.IN_ABOUT' | translate | uppercase}} {{wordCount}} {{ 'ABOUT.WORDS' | translate |
                    uppercase}})</div>
                <div class="separator line-separator about-separator">♦</div>
            </div>
            <div class="description">
                <div class="current" rtlDiv>
                    <div class="icon about-icon">
                        <i class="pe-7s-target"></i>
                    </div>
                    <h5>{{ 'ABOUT.CURRENTLY' | translate | uppercase}}</h5>
                    <p>{{ 'ABOUT.CURRENTLY_CONT' | translate }}</p>
                </div>
                <div class="likes" rtlDiv>
                    <div class="icon about-icon">
                        <i class="pe-7s-star"></i>
                    </div>
                    <h5>{{ 'ABOUT.LIKES' | translate | uppercase}}</h5>
                    <ul rtlDiv>
                        <li *ngFor="let hobby of hobbies">
                            <p>{{hobby}}</p>
                        </li>
                    </ul>
                </div>          
            </div>
        </div>
        <ng-template #loading>
            <div>Loading...</div>
        </ng-template>
    </div>    