.project-content {
    width: 100%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 0%;
    z-index: 3;        
    .carousel-arrow {
      position: absolute;
      top: 42%;
      cursor: pointer;
      font-size: 75px;      
    }
    .ca {
      position:absolute;
      height: 450px;
      width: 100px;
      z-index: 6;
    }
    .left-ca {
      left: 0;
    }
    .right-ca {
      right: 0;
    }
}
@media only screen and (max-width: 990px) {    
    .project-content {
        top: 12%;
    }    
  }

  @media only screen and (max-width: 770px) {   
    .project-content {
        top: 14%;
    }    
  }
