<div class="page-wrapper parallax filter filter-color-black">
  <div class="page-container">
      <div id="app-particles" class="page-inner-container no-scroll">   <!-- id="app-particles" -->
        <div class="headline"> 
          <h1>{{ 'PROJECTS.HEADER' | translate | uppercase}}</h1> 
        </div>
        <div class="description"> {{ 'PROJECTS.DESCRIPTION' | translate }} </div>
          <div class="project-list">                             
              <div class="project-square" *ngFor="let project of projectList">
                <a class="project-title" [routerLink]="['/detail', project.title]">
                  <span *ngFor="let titlePart of project.title.split(' ')">{{titlePart}}</span>                
                  </a>            
              </div>            
          </div>
      </div>
  </div>
</div>

