<div class="section section-page">
    <div class="parallax filter filter-color-black">
        <div class="image" style="background-image:url('assets/arik-223-min-copy.jpg')">
            </div>
            <div class="content">
                <div class="title-area">
                    <h1>{{ 'CONTACT.HEADER' | translate | uppercase}}</h1>
                </div>
                <div class="message">
                    {{ 'CONTACT.CONTACT_MESSAGE' | translate }}
                </div>
                <div class="contact-options">
                    <a href="https://github.com/Arik92" target="_blank" >
                        <i class="fa fa-github"></i> 
                    </a>
                    <a href="https://www.linkedin.com/in/arik-aviv/" target="_blank" >
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="mailto:arik92@gmail.com">
                        <i class="fa fa-envelope-o"></i>
                    </a>
                    <!-- <i class="pe-7s-more">(just kidding)</i> -->
                </div>
            </div>            
    </div>
</div>