  <div class="app-container" rtlDiv>
    <div class="drawer-section" [ngClass]="(isOpen)?'open':'close'" rtlDiv>
      <app-drawer></app-drawer>
    </div>
    <div class="navbar-section">
      <app-navbar></app-navbar>    
    </div>
    <div class="sidebar-section" rtlDiv>
  <app-sidebar></app-sidebar>
    </div>
    <div class="router-section" rtlDiv>
      <div class="router-container" rtlDiv>
        <div id="app-particles" class="particles"></div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
