.router-section {
    position: absolute;
    width: 70%;
    height: 91%;
    top: 9%;
    left: 30%;
    background-color:rgba(160,160,160,0.3);
    .router-container {
        position: absolute;
        top: 3%;
        left: 2%;
        background-color: white;
        height: 95%;
        width: 95%;
    }
}
