.app-container {
    position: absolute;
    height:100%;
    width:100%;
}
.sidebar-section {
    position: absolute;
    left: 0;
    top: 9%;
    height: 91%;
    width: 29%;    
    .rtl {
        color:red;
    }
}
.router-section {
    position: absolute;
    width: 71%;
    height: 91%;
    top: 9%;
    left: 29%;
    background-color:rgba(160,160,160,0.3);
    .router-container {
        position: absolute;
        left: 1.4%;
        background-color: white;
        height: 100%;
        width: 98.6%;
    }
}
.rtl {
    .sidebar-section {
        right: 0;
    }
    .router-section {
        left: 0;
        right: 29%;
    }
    .router-container {
        left: 0;
        right: 1.4%
    }
}
