.app-container {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden; 
}
.drawer-section {
    position: absolute;
    height: 0px;
    width: 100%;
    // top: 9%;
    top: 14.5%;
    right: 0;
    background-color: #222831;
    color: #eeeeee;    
    z-index: 5;
    transition: height 0.25s ease-in-out;
    .drawer {
        position: absolute;
        height: 100%;
        width: 100%;
    }
}
.open {    
    height: 80%;
    .drawer {
        display: flex;
    }
}
.close {
    height: 0px;
    .drawer {
        display: none;
    }
}
.sidebar-section {
    display: none;
    position: absolute;
    left: 0;   
    height: 25%;
    top: 75%;
    width:100%;        
}
.router-section {
    position: absolute;   
    height: 91%;
    width: 100%;
    left: 0;
    top: 9%;
    background-color:rgba(160,160,160,0.3);
    border-top: 1px solid black;
    .router-container {
        position: absolute;
        background-color: white;
        height: 100%;
        width: 100%;
    }
}
.rtl {
    .sidebar-section {
        right: 0;
    }
    .router-section {
        left: 0;
    }
    .router-container {
        left: 0;
        // right: 1.4%
    }
}
@media only screen and (min-width: 1100px) {
    .sidebar-section {
        display: flex;
        width: 29%;
        height: 91%;
        top: 9%;
    }
    .router-section {
        height: 91%;
        width: 70%;
        left: 29%;
        border-top: none;
        .router-container {
            left: 1.4%;
            // width: 98.6%;
            width:100%;
        }
    }
    .rtl {
        .sidebar-section {
            width:30%;
        }
        .router-container {
            left: 0;
        }
    }
}
