<div class="sidebar-container">
    <div class="top-section">
        <!-- <img src="" alt=""> image be here-->
        <div class="language-select">
            <h4 class="lng-btn"><a (click)="changeLang('en')">{{ 'SIDEBAR.ENGLISH' | translate }}</a></h4>
            <div>&nbsp;</div>
            <h4 class="lng-btn"><a (click)="changeLang('iw')">{{ 'SIDEBAR.HEBREW' | translate }}</a></h4>
        </div>
        <div class="img-container">
            <img class="tall-img" src="assets/portait-tall.jpg" alt="">
            <img class="desktop-img" src="assets/portait-desktop.jpg" alt="">
            <img class="mobile-img" src="assets/portait-mobile.jpg" alt="">
        </div>
    </div>
    <div class="middle container">
        <div class="intro" rtlDiv>
            <!-- <h2>{{ 'SIDEBAR.SELF_NAME' | translate }}</h2> -->
            <h2>{{ 'SIDEBAR.INTRODUCTION' | translate }}</h2>
            <span>{{ 'SIDEBAR.SELF_DESCRIPTION' | translate }}</span>
        </div>       
    </div>
    
    <div class="bottom container">
        <app-contact-btns></app-contact-btns>        
    </div>    
</div>