/** Global styles 
Color pallette: 
    Base/white: #eeeeee
    Blue/hover color: #32e0c4
    Light black: #393e46
    Darker tone: #222831
    Optional gray : #646464
    Origin: https://colorhunt.co/palette/189745
*/
body {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Source Code Pro', monospace;

    .particles {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #222831;
        z-index: 0;
    }

    a {
        text-decoration: none;
        color:inherit;
        letter-spacing: 0.25em;
        transition-duration: 0.5s;
    }
    a:hover {
        color: #32e0c4;
    }
    .page-container {
        color: #eeeeee;
        position: absolute;
        height: 94%;
        width: 96%;
        top: 3%;
        left: 2%;
        display: flex;
    }
    svg {
        fill: #222831;
    }
    .rtl {
        direction: rtl;
    }
}