.title-area {
    a {
        color: #FFFFFF;
    }
    .desc-en {
        display: block;
    }
    .desc-he {
        display: none;
    }
}

.title-area.rtl {
    .desc-en {
        display: none;
    }
    .desc-he {
        display: block;
    }
}