.drawer-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #393e46;
    }

svg:hover {
    fill: #32e0c4;
}

ul {
    height:100%;
    width:100%;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    list-style: none;
    padding: 0;        
    margin: 0;
    li {
        height: 11%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
