<div class="page-wrapper parallax filter filter-color-black">
    <div class="zero-state-container" rtlDiv>
        <div class="zero-state-msg" rtlDiv>
            <h3>{{'COMING_SOON.PREVIEW' | translate}}</h3>
            <div>{{'COMING_SOON.ENGAGE' | translate}} <a routerLink="/projects"><b>{{'COMING_SOON.PROJECTS' | translate}}</b></a>
            <!-- {{'WELCOME.ALTERNATE' | translate}} <a routerLink="/about"><b>{{'WELCOME.ABOUT' | translate}}</b></a></div>         -->
        </div>
    </div>
</div>